<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>sxoleio.pw - Video hosting</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='template_files/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='template_files/small-business.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/taxi/6">ΣΤ τάξη</a>
                    </li>
                    <li>
                        <a href="/taxi/5">Ε τάξη</a>
                    </li>
                    <li>
                        <a href="/taxi/4">Δ τάξη</a>
                    </li>
                    <li>
                        <a href="/taxi/3">Γ τάξη</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Call to Action Well -->
      <div class="row">
          <div class="col-lg-12">
              <div class="well text-center">
                  <h1>Καλώς ορίσατε στο video hosting του sxoleio.pw</h1>
              </div>
          </div>
          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="{{ url_for('static', filename='images/front_page_img.jpg') }}" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Video Hosting</h1>
                <p>Εδώ μπορείτε να βρείτε όλα τα βίντεο βοήθειας για το μάθημα των Τ.Π.Ε. Ξεκινήστε διαλέγοντας την τάξη, την κατηγορία ή τη λέξη κλειδί του βίντεο που σας ενδιαφέρει!</p>
                <h1><span class="label label-default">sxoleio.pw</span></h1>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Content Row -->
        <div class="row">
          <div class="col-md-4">
              <h2>Τάξεις</h2>
              <p>
                {% if t_taxeis %}
                    <ul class="list-group">
                    {% for taxi in t_taxeis %}
                      <li class="list-group-item"><a href="/taxi/{{ taxi[0] }}">{{ taxi[1] }}</a> <span class="badge">{{ taxi[2] }}</span></li>
                    {% endfor %}
                    </ul>
                {% endif %}
              </p>
          </div>
          <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Κατηγορίες</h2>
                <p>
                  {% if t_categories %}
                      <ul class="list-group">
                      {% for category in t_categories %}
                        <li class="list-group-item"><a href="/category/{{ category[0] }}">{{ category[1] }}</a> <span class="badge">{{ category[2] }}</span></li>
                      {% endfor %}
                      </ul>
                  {% endif %}
                </p>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Λέξεις Κλειδιά</h2>
                <p>
                  {% if t_keywords %}
                      <ul class="list-group">
                      {% for keyword in t_keywords %}
                        <li class="list-group-item"><a href="/keyword/{{ keyword[0] }}">{{ keyword[1] }}</a><span class="badge">{{ keyword[2] }}</span></li>
                      {% endfor %}
                      </ul>
                  {% endif %}
                </p>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyleft -- ale3andro.gr 05/2017 -- No rights reserved</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='template_files/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='template_files/bootstrap.min.js') }}"></script>

</body>

</html>
